
.vs/DisneyApi/config/applicationhost.config
.vs/DisneyApi/DesignTimeBuild/.dtbcache.v2
.vs/DisneyApi/FileContentIndex/7318afd0-b847-44bc-8059-14a236dbe01b.vsidx
.vs/DisneyApi/FileContentIndex/8e972950-3c7e-4eb2-83d9-fbf4a5f9ade8.vsidx
.vs/DisneyApi/FileContentIndex/b35e0d77-ad4c-46cd-9127-b641b7c1b0a8.vsidx
.vs/DisneyApi/FileContentIndex/b6bda86d-54aa-4d06-8ef9-d084de4b7327.vsidx
.vs/DisneyApi/FileContentIndex/read.lock
.vs/DisneyApi/v17/.futdcache.v1
.vs/DisneyApi/v17/.suo
.vs/ProjectEvaluation/disneyapi.metadata.v2
.vs/ProjectEvaluation/disneyapi.projects.v2
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
DisneyApi.sln
DisneyApi/appsettings.Development.json
DisneyApi/appsettings.json
DisneyApi/DisneyApi.csproj
.vs/DisneyApi/FileContentIndex/2bf921f5-e787-4c7e-9273-20123887de79.vsidx
.vs/DisneyApi/FileContentIndex/f686ba95-a588-4fbc-a6ad-9b5ed3fd703a.vsidx
